<div class="p-16 background">
    <div class="header">
        Selecciona las tarjetas por pares y descubre todos los pares
    </div>
    <div class="container">
        <div class="logo">
            <img src="assets/logo.png">
        </div>
        <div class="family-row" *ngIf="!selected">
            <mat-grid-list cols="6" rowHeight="250px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <a mat-raised-button (click)="selectFamily('Alcalinos')">Alcalinos</a>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <a mat-raised-button (click)="selectFamily('Alcalinos Térreos')">Alcalinos Térreos</a>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <a mat-raised-button (click)="selectFamily('Boroides')">Boroides</a>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <a mat-raised-button (click)="selectFamily('Carbonoides')">Carbonoides</a>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <a mat-raised-button (click)="selectFamily('Nitrogenoides')">Nitrogenoides</a>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <a mat-raised-button (click)="selectFamily('Anfígenos')">Anfígenos</a>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <a mat-raised-button (click)="selectFamily('Halógenos')">Halógenos</a>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <a mat-raised-button (click)="selectFamily('Gases Nobles')">Gases Nobles</a>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <a mat-raised-button (click)="selectFamily('Metales Pesados')">Metales Pesados</a>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <a mat-raised-button (click)="selectFamily('Aleatorios')">Aleatorios</a>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <div class="grid p-16" *ngIf="selected">
            <app-game-card *ngFor="let c of cards; let idx=index" [data]="c" [level]="level"
                (cardClicked)="cardClicked(idx)">
            </app-game-card>
        </div>
    </div>
</div>