<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
        <div>
            <a mat-button [routerLink]="'/home'"> Inicio </a>
            <a mat-button [routerLink]="'/stories'"> Cuentos </a>
            <a mat-button [routerLink]="'/riddles'"> Adivinanzas </a>
            <a mat-button [routerLink]="'/songs'"> Canciones </a>
            <a mat-button [routerLink]="'/game'"> Juego Cartas</a>
            <a mat-button [routerLink]="'/anagram'"> Juego Ordenar</a>
            <a mat-button [routerLink]="'/hangout'"> Juego Ahorcado</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>