.background {
    background-image: url("../../../assets/Backgound.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 25px;
    font-weight: bolder;
    line-height: normal;
}
.container {
    position: absolute;
    top: 64px;
    right: 0;
    bottom: 0;
    left: 0;
}
.header {
    font-size: 35px;
    font-weight: bolder;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
}
* {
    box-sizing: border-box;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 10px;
    height: 300px;
    background-color: transparent;
}
ol.c {
    list-style-type: upper-roman;
}
li {
    padding: 5px 0px 10px 0px;
}
h1{
    font-weight: bolder;
    font-size: 40px;
}