<div class="container background">
    <div class="header">MUSICALIZANDO LOS ELEMENTOS QU&Iacute;MICOS</div>
    <div class="row">
        <div class="column video">
            <youtube-player videoId="xuuZPT20AXI" suggestedQuality="highres" [height]="375" [width]="650">
            </youtube-player>
        </div>
        <div class="column instructions">
            <h1>INDICACIONES</h1>
            <ol class="list">
                <li>Visualizar el video ejemplo de ésta página.</li>
                <li>Organizar equipos de 5 personas.</li>
                <li>Seleccionar una canción de su gusto.</li>
                <li>Modificar la letra de la canción seleccionada anteriormente, añadiendo a los símbolos o nombres de
                    los elementos químicos.</li>
                <li>Grabar un video cantando la letra de la canción modificada y la pista de la canción. Se recomienda
                    utilizar las aplicaciones de redes sociales.</li>
                <li>Presentar el video a los demás equipos.</li>
            </ol>
        </div>
    </div>
</div>