.background {
    background-image: url("../../../assets/Backgound.jpg");
    background-size: cover;
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.container {
    position: absolute;
    top: 64px;
    right: 0;
    bottom: 0;
    left: 0;
}
.header {
    color: white;
    font-size: 35px;
    font-weight: bolder;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
