<div class="container background">
    <div class="header">ADIVINANDO ANDO Y LA QU&Iacute;MICA REFORZANDO</div>
    <div class="row">
        <div class="column video">
            <img src="assets/Riddles.png" style="width: 650px; height: 375px;">
        </div>
        <div class="column instructions">
            <h1>INDICACIONES</h1>
            <ol class="list">
                <li>Visualizar las adivinanzas ejemplo de ésta página.</li>
                <li>Dar click en el botón para asignarle un elemento químico.</li>
                <li>Crear una adivinanza cuya respuesta sea el símbolo o el nombre de un elemento químico que se le
                    asignó.</li>
                <li>Grabar un video corto con la adivinanza creada. Se recomienda utilizar las aplicaciones de redes
                    sociales.</li>
                <li>Presentar el video a sus compañeros y visualizar cuántos responden correctamente.
                </li>
            </ol>
        </div>
    </div>
    <div class="row button-row">
        <button mat-raised-button (click)="selectElement()">Asignar Elemento</button>
    </div>
</div>