<div class="container background">
    <div class="header">CONTANDO CUENTOS CON LOS ELEMENTOS</div>
    <div class="row">
        <div class="column video">
            <youtube-player videoId="8T4jxh3QeEo" suggestedQuality="highres" [height]="375" [width]="650">
            </youtube-player>
        </div>
        <div class="column instructions">
            <h1>INDICACIONES</h1>
            <ol class="list">
                <li>Visualizar el video ejemplo de ésta página.</li>
                <li>Organizar equipos de 3 personas.</li>
                <li>Seleccionar al menos dos familias de los elementos químicos.</li>
                <li>Crear un cuento corto relacionando a los elementos químicos con las familias seleccionadas.</li>
                <li>Grabar un video relatando el cuento creado. Se recomienda utilizar las aplicaciones de redes
                    sociales.</li>
                <li>Presentar el video a los demás equipos
                </li>
            </ol>
        </div>
    </div>
</div>