<div class="container background">
    <div class="header">Adivine el elemento quimico</div>
    <div class="row">
        <div class="image">
            <img src='{{ "assets/error-" + count + ".png" }}' alt="">
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="word">
                <div class="letter" *ngFor="let letter of letters">
                    <span class="lett">{{letter}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="pressed">
        <div class="column-bottom">
            <div class="letter">
                <span [style.color]="success === true ? 'green': 'red'">
                    {{result}}
                </span>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="pressed">
        <div class="column-bottom">
            <div class="letter" [style.color]="'green'">
                Correcto:
                <div *ngFor="let letter of lettersG">
                    <span class="letter-bottom" >{{letter}}</span>
                </div>
            </div>
            <div class="letter" [style.color]="'red'">
                Incorrecto:
                <div class="letter" *ngFor="let letter of lettersW">
                    <span class="letter-bottom">{{letter}}</span>
                </div>
            </div>
        </div>
    </div>
</div>