<div class="p-16 background" >
    <div class="header" *ngIf="!selected">
        Selecciona el juego
    </div>
    <div class="container">
        <div class="logo" (click)="unselect()">
            <img src="assets/logo.png">
        </div>
        <div class="family-row" *ngIf="!selected">
            <mat-grid-list cols="3" rowHeight="250px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <a mat-raised-button (click)="selectGame('cards')">Juego Tarjetas Memoria</a>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <a mat-raised-button (click)="selectGame('hangout')">Juego Ahorcado</a>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <a mat-raised-button (click)="selectGame('anagram')">Juego Anagrama</a>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <div *ngIf="selected" style="width: 100%;">
            <div *ngIf="game === 'cards'">
                <app-game></app-game>
            </div>
            <div *ngIf="game === 'hangout'">
                <app-hangout></app-hangout>
            </div>
            <div *ngIf="game === 'anagram'">
                <app-anagram></app-anagram>
            </div>
        </div>
    </div>
</div>
